@import '../node_modules/antd/dist/antd.css';

.logo {
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

@media print {
    .no-print, .no-print * {
        display: none !important;

    }
}

